h1 {
  text-align: center;
  font-family: Forum;
  font-weight: 100;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-family: Forum;
  font-weight: 50;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
}

p {
  text-align: center;
  font-family: Helvetica, Arial, Lucida, Sans-serif;
}

body {
  background-color: #ffd0ec;
  margin: 0px;
  padding: 0px;
}

hr {
  height: 2px;
  background-color: #fdf7c3;
  border-color: #ffdeb4;
}

#header {
  background-color: #81689d;
  padding: 10px;
  color: #f2f2f2;
  font-family: 'Forum';
  padding-top: 60px;
  padding-bottom: 60px;
}

#introduction {
  width: 400px;
  background-color: #ffb4b4;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.introbackground {
  background-image: url('https://wallpaperaccess.com/full/2641051.gif');
  object-fit: fill;
}

#maxieimage {
  max-width: 300px;
  align-content: center;
}

figcaption {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

/* Navigation */

.topnav {
  background-color: #474f7a;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Forum;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #474f7a;
  color: #ffdeb4;
}

.topnav a.active {
  background-color: #474f7a;
  color: white;
}

/* Blogs */

.blogarticle {
  width: 100%;
  background-color: #b2a4ff;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  max-width: 500px;
  border-radius: 100px;
  border-color: #fdf7c3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blogtitle {
  text-align: center;
  width: 100%;
  font-family: Arial;
}

.blogimage {
  text-align: center;
  width: 75%;
}

.blogarticle p {
  text-align: center;
}

.bottom-line {
  margin-top: 25px;
}

.maxieHeadshot {
  max-width: 80%;
  width: 1000px;
}

/*ABOUT*/

.About {
  padding-top: 20px;
  padding-bottom: 100px;
}

/*Blog Articles*/

.BlogMenu {
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=sph');
  object-fit: fill;
}

/*FOOTER*/

footer {
  font-size: 14px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #fdf7c3;
}

a:active {
  color: #ffdeb4;
}
